<ion-content>
    <div class="decorated">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img src="../../../assets/beatr_fff.svg">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <img src="../../../assets/boombox_tropical_green.svg" class="boombox">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button *ngIf="showLoginButton" (click)="authService.signIn()">
                        <img class="google-logo" src="../../../assets/icon/btn_google_light_normal_ios.svg">
                        Sign in with Google
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
