ion-content {
  --ion-background-color: #dcc100;
}

.decorated {
  background-image: url("../../../assets/background_blank@3x.png");
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  .boombox {
    width: 80%;
  }
  .google-logo {
    width: 40px;
    padding-right: 8px;
  }
}

ion-grid {
  height: 100%;
}

ion-row {
  height: 33%;
  align-items: center;
  text-align: center;
}