<ion-content>
    <div class="decorated">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img src="../../../assets/beatr_fff.svg">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button>Start quiz</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button>Join quiz</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
